h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

h1 {
  margin: 0 auto;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

button {
  cursor: pointer;
}

:root {
  --color-primary-brand: #4d5ae5;
  --color-dark: #2e2f42;
  --color-success: #31d0aa;
  --color-text: #434455;
  --color-subtle-text: #8e8f99;
  --color-accent: #e7e9fc;
  --color-light: #f4f4fd;
  --color-white: #ffffff;
  --color-btn-bgrnd-active: #404bbf;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--color-dark);
  background-color: var(--color-white);
}

/* ============== Components ================= */
/*#region */
.portfolio-btn {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--color-primary-brand);
  background-color: var(--color-light);
  border-color: var(--color-accent);
  border: 1px solid var(--color-accent);
  border-radius: 4px;
  padding: 8px 16px 8px 16px;

  transition-property: color, background-color, border-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-btn:hover,
.portfolio-btn:focus {
  color: var(--color-white);
  background-color: var(--color-primary-brand);
  border-color: transparent;
  border-radius: 4px;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
}

.section-title-team {
  margin-top: 0;
}
.section-subtitle-team {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
}

.section-paragraph-team {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-text);
  margin-top: 8px;
  text-align: center;
}

.card-color {
  position: relative;
  display: block;
  color: var(--color-dark);

  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-primary-brand);
}

.logo-dark {
  color: var(--color-dark);
}

.logo-light {
  color: var(--color-light);
}

.section-title {
  margin-bottom: 72px;
}
/* ============== /Components ================= */
/*#endregion*/

/* ================== Header ================== */
/*#region */

.container {
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (max-width: 480px) {
  .hero {
    max-width: 767px;
  }

  .mobile-contact-phone-number {
    font-weight: 500;
    font-size: 8vw;
    line-height: 40px;
    color: var(--color-dark);
  }
}

@media screen and (max-width: 768px) {
  .footer-form-input {
    color: var(--color-white);
    width: 100%;
    max-width: 396px;
  }

  /* .footer-position {
    display: flex;
    flex-direction: column;

    gap: 72px;
    align-items: center;
  } */
}
@media screen and (min-width: 320px) {
  .our-customers-item {
    flex-basis: calc((100% - 16px) / 2);
    width: 190px;
    height: 88px;
  }
}

@media screen and (min-width: 480px) {
  .container {
    width: 100%;
    max-width: 428px;
    margin-left: auto;
    margin-right: auto;
  }

  .footer-form-input {
    width: 396px;
  }

  .mobile-contact-phone-number {
    font-weight: 500;
    font-size: 36px;
    line-height: 40px;
    color: var(--color-dark);
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 100%;
    max-width: 736px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 100%;
    max-width: 1158px;
  }
}

/* ================== Mobile ================== */
@media screen and (max-width: 768px) {
  .menu,
  .menu-contacts,
  .studio-features-svg-bg,
  .doing-list-section {
    display: none;
  }

  .page-header {
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .page-header-container {
    display: flex;
    justify-content: space-between;
  }

  .mobile-menu-open {
    background-color: transparent;
    border: none;
    padding: 0;
    line-height: 0;
  }

  /* .our-customers > .container {
    padding: 0;
  } */
}
/* =================== / Mobile =================== */
/* ================== Mobile menu ================== */
.mobile-menu {
  position: fixed;
  width: 100vw;
  height: 100%;
  min-height: 796px;
  z-index: 100;
  top: 0;
  left: 0;
  background-color: var(--color-white);

  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: 500ms linear, visibilits 500ms linear;
}

.mobile-menu-open-icon {
  width: 32px;
  height: 22px;
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.mobile-menu-container {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 80px 40px 40px 40px;
}

.mobile-menu-close-btn {
  position: absolute;
  right: 40px;
  top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 24px;
  height: 24px;
  border-radius: 50%;

  transition-property: background-color, box-shadow, border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-close-btn:hover,
.mobile-menu-close-btn:focus {
  background-color: #e7e9fc;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border: none;
}

.mobile-menu-close-btn:active {
  background-color: var(--color-btn-bgrnd-active);
  fill: var(--color-white);
  border: none;
}

.mobile-menu-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: 200px;
}

.mobile-menu-link {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--color-dark);
}

.mobile-menu-bottom {
  margin-top: auto;
}

.mobile-menu-contacts {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 20px;
}

.mobile-contact-mail {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--color-text);
}

.mobile-social-list {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
}

.mobile-menu-link:hover,
.mobile-contact-mail:hover,
.mobile-contact-phone-number:hover,
.mobile-menu-link:focus,
.mobile-contact-mail:focus,
.mobile-contact-phone-number:focus,
.mobile-menu-link:active,
.mobile-contact-mail:active,
.mobile-contact-phone-number:active {
  color: var(--color-primary-brand);
}

.active,
.mobile-contact-phone-number {
  color: var(--color-primary-brand);
}
.studio-section-features {
  padding-top: 96px;
  padding-bottom: 96px;
}
/* ================= / Mobile menu ================= */

.link.current::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  left: 0px;
  bottom: -26px;
  background-color: var(--color-primary-brand);
  border-radius: 2px;
}

.menu-item {
  position: relative;
}

.menu-item:not(:last-child) {
  margin-right: 40px;
}

/* .menu-contacts-item:not(:last-child) {
  margin-bottom: 4px;
} */

/* .menu-link {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-text);

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
} */

.menu-link:hover,
.menu-link:focus,
.contact-mail:hover,
.contact-mail:focus,
.contact-phone-number:hover,
.contact-phone-number:focus,
.menu-link:active,
.contact-mail:active,
.contact-phone-number:active {
  color: var(--color-primary-brand);
}

.contact-mail,
.contact-phone-number {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-text);

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
/* ================== /Header ================== */
/*#endregion*/

/* ==============< !--Hero-->================= */
/*#region */

.hero {
  padding-top: 112px;
  padding-bottom: 112px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;

  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url("../images/hero/mobile-bg.jpg");
  background-size: cover;
  background-color: rgba(46, 47, 66, 1);
}

.hero-title {
  font-weight: 700;
  font-size: 32px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--color-white);
  width: 318px;
}

.modal-btn {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.04em;
  color: var(--color-white);
  background-color: var(--color-primary-brand);
  border-radius: 4px;
  border: 0px;
  margin-top: 72px;
  width: 170px;
  height: 51px;

  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover,
.modal-btn:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.modal-btn:active {
  background-color: var(--color-btn-bgrnd-active);
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/hero/tablet-bg.jpg");
    width: 768px;
  }

  .hero-title {
    font-weight: 700;
    font-size: 54px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--color-white);
    width: 494px;
  }

  .modal-btn {
    margin-top: 40px;
    width: 169px;
    height: 56px;
  }
}

@media (min-device-pixel-ratio: 2) and (min-width: 768px),
  screen and (min-resolution: 192dpi) and (min-width: 768px),
  screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/hero/tablet-bg@2x.jpg");
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    width: 1440px;
    padding-top: 192px;
    padding-bottom: 192px;
    text-align: center;

    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/hero/bg.jpg");
  }
}

@media (min-device-pixel-ratio: 2) and (min-width: 1200px),
  screen and (min-resolution: 192dpi) and (min-width: 1200px),
  screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/hero/bg@2x.jpg");
  }
}
/* ==============< /!--Hero-->================= */
/*#endregion*/

/* ==================  Особливості студії mobile ================== */

.studio-features {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 72px;
}

.section-subtitle {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--color-dark);
}

.section-paragraph {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-text);
  margin-top: 8px;
  text-align: left;
}

/* ==================  /Особливості студії mobile ================== */

/* ==================  /Особливості студії  ================== */

/* ==================  Our Team-Mobile ================== */
.team {
  background-color: var(--color-light);
  padding-top: 96px;
  padding-bottom: 120px;
}

.our-team-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 72px;
}

.team-item {
  background-color: var(--color-white);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}

.our-team-wrapper {
  padding: 32px 16px;
  text-align: center;
}

.social-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 12px;
}

.social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--color-primary-brand);
  fill: var(--color-white);

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-link:hover,
.social-list-link:focus,
.social-list-link:active {
  background-color: var(--color-btn-bgrnd-active);
  border: 0;
}

/* ================  /Our Team-Mobile ================ */

/* =============  Our Customers-Mobile ================ */
.our-customers {
  padding-top: 104px;
  padding-bottom: 104px;
}

.our-customers-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 16px;
  row-gap: 72px;
}

.our-customers-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  fill: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;

  transition-property: fill, border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.our-customers-link:hover,
.our-customers-link:focus {
  fill: rgba(77, 90, 229, 1);
  border: 1px solid rgba(77, 90, 229, 1);
}

.footer-position {
  display: flex;
  flex-direction: column;

  gap: 72px;
  align-items: center;
}
/* ============  /Our Customers-Mobile =============== */

/* ==================  Portfolio ================== */
.portfolio-overlay {
  overflow: hidden;
  position: relative;
}

.overlay {
  position: absolute;
  width: 360px;
  height: 300px;
  left: 0px;
  top: 0px;
  padding: 40px 32px 164px;

  transform: translate(0, 100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-light);
  letter-spacing: 0.02em;

  background-color: var(--color-primary-brand);
  background-blend-mode: soft-light;
  mix-blend-mode: normal;
}

.card-color:hover .overlay,
.card-color:focus .overlay {
  transform: translate(0, 0);
}

.portfolio-card:hover .overlay {
  transform: translate(0, 0);
}
.portfolio-card:focus .overlay {
  transform: translate(0, 0);
}

.portfolio-section {
  padding-top: 96px;
  padding-bottom: 120px;
}

.card-color:hover,
.card-color:focus {
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.portfolio-menu-list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.portfolio-item:not(:last-child) {
  margin-right: 24px;
}

.portfolio-container {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
  margin-top: 72px;
}

.portfolio-card-wrapper {
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 16px;
  padding-right: 16px;
  border: 0.5px solid var(--color-light);
  border-top: none;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
}
/* ==================  /Portfolio ================== */

/* ================  Footer-Mobile ================ */
.footer-container {
  background-color: var(--color-dark);
  padding-top: 96px;
  padding-bottom: 96px;
  margin-left: auto;
  margin-right: auto;
}

.logo-footer {
  display: block;
  text-align: center;
}
.footer-paragraph {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-accent);
  width: 264px;
  margin-top: 16px;
}

.social-footer-list {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin-top: 12px;
}

.social-media-paragraph {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: var(--color-white);
  margin-bottom: 16px;
  text-align: center;
}

.link-bg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  fill: var(--color-white);

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.link-bg:hover,
.link-bg:focus,
.link-bg:active {
  background-color: var(--color-success);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.footer-form-paragraph {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-white);
  margin-bottom: 16px;
  text-align: center;
}

.footer-form-input {
  color: var(--color-white);
  height: 40px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  padding-left: 16px;
  outline: none;
}

.footer-form-submit {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--color-white);
  background-color: var(--color-primary-brand);
  border-radius: 4px;
  border: 0px;
  width: 165px;
  height: 40px;

  margin: 0 auto;
  margin-top: 16px;
}

.footer-form-submit:hover,
.footer-form-submit:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.footer-form-submit:active {
  background-color: var(--color-btn-bgrnd-active);
}
.footer-icon-send {
  height: 20px;
  width: 24px;
}
/* ================  /Footer-Mobile ================ */

/* ================== Modal window ================== */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);

  transition-property: opacity, visibility;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  max-width: 408px;

  background-color: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 72px 24px 24px 24px;
}

.modal-close-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 24px;
  height: 24px;
  border-radius: 50%;
  position: absolute;
  right: 24px;
  top: 24px;

  transition-property: background-color, box-shadow, border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus,
.modal-close-btn:active {
  background-color: var(--color-btn-bgrnd-active);
  fill: var(--color-white);
  border: none;
}
/* ================== /Modal window ================== */
/* ==================  Modal form ================== */
.modal-paragraph {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--color-dark);
}

.modal-form {
  display: flex;
  flex-direction: column;
  margin-top: 8px;
}

.modal-form-field {
  margin-top: 8px;
}

.modal-form-input-wrapper {
  position: relative;
}
.modal-form-input {
  font-size: 18px;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus {
  outline: none;
  border-color: var(--color-primary-brand);
}

.modal-form-input:focus + .modal-form-input-icon {
  fill: var(--color-primary-brand);
}
.modal-form-input-desc {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: var(--color-subtle-text);
  margin-bottom: 4px;
}

.modal-form-input-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translate(0, -50%);
  transition-property: background-color;
  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-comment {
  display: block;
  resize: none;
  width: 100%;
  height: 120px;
  box-sizing: border-box;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  color: var(--color-text);
}

.modal-form-comment::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--color-subtle-text);
}

.modal-form-comment:focus {
  outline: none;
  border-color: var(--color-primary-brand);
}

.modal-form-check-desc {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 12px;
  margin-top: 16px;
  margin-bottom: 24px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: #757575;
}

.modal-form-check-desc::before {
  display: block;
  width: 16px;
  height: 16px;
  border: 1.25px solid #2e2f42;
  border-radius: 2px;
  margin-right: 8px;
  content: "";
  cursor: pointer;
}

.modal-form-check:checked + .modal-form-check-desc:before {
  background-color: var(--color-primary-brand);
  background-image: url(../images/Vector.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.modal-form-check:focus + .modal-form-check-desc::before {
  outline: 1px solid var(--color-primary-brand);
}

.modal-form-submit {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.04em;
  color: var(--color-white);
  background-color: var(--color-primary-brand);
  border-radius: 4px;
  border: 0px;
  margin: 0 auto;
  width: 169px;
  height: 56px;

  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-submit:hover,
.modal-form-submit:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.modal-form-submit:active {
  background-color: var(--color-btn-bgrnd-active);
}

.privacy-policy {
  color: var(--color-primary-brand);
}

/* ================== /Modal form ================== */
/* =================  Tablet ================= */

@media screen and (min-width: 768px) {
  .mobile-menu,
  .mobile-menu-open,
  .studio-features-svg-bg,
  .doing-list-section {
    display: none;
  }

  .page-header {
    padding-top: 18px;
    padding-bottom: 18px;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  }

  .page-nav {
    display: flex;
    align-items: center;
    margin-right: auto;
  }

  .page-header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .menu {
    display: flex;
    align-items: center;
  }

  .menu-contacts {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 0;
  }

  .menu-item {
    position: relative;
  }

  .menu-item:not(:last-child) {
    margin-right: 40px;
  }

  .menu-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-text);

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  .menu-link:hover,
  .menu-link:focus,
  .contact-mail:hover,
  .contact-mail:focus,
  .contact-phone-number:hover,
  .contact-phone-number:focus,
  .menu-link:active,
  .contact-mail:active,
  .contact-phone-number:active {
    color: var(--color-primary-brand);
  }

  .contact-mail,
  .contact-phone-number {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.02em;
    color: var(--color-text);

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .features-first {
    display: flex;
    gap: 24px;
  }

  .studio-features {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 24px;
  }

  .our-team-list {
    row-gap: 64px;
    column-gap: 24px;
  }

  .studio-features-item {
    flex-basis: calc((100% - 24px) / 2);
  }
  .section-subtitle,
  .studio-features-item {
    text-align: left;
  }
  /* .our-customers-list {
    gap: 24px;
  } */

  .our-customers-list {
    width: 100%;
  }

  .our-customers-item {
    flex-basis: calc((100% - 24px) / 3);
    width: 168px;
    height: 88px;
  }
  /* .our-customers-item {
    max-width: 190px;
    width: 100%;
    height: 88px;
  } */

  .footer-container {
    background-color: var(--color-dark);
    padding-top: 96px;
    padding-bottom: 96px;
    padding-left: 93px;

    margin-left: auto;
    margin-right: auto;
  }
  .footer-position {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 24px;
    margin: 0 auto;
    align-items: flex-start;
    /* padding-left: 108px; */
  }
  .footer-info {
    display: block;
    width: 264px;
  }
  .footer-form {
    display: flex;
    gap: 24px;
  }

  .footer-form-submit {
    margin-top: 0;
  }

  .logo-footer,
  .social-media-paragraph,
  .footer-form-paragraph {
    display: block;
    text-align: left;
  }
  .footer-form-paragraph {
    margin-top: 0;
  }
  .footer-form-input {
    width: 264px;
  }
  .logo-header {
    margin-right: 120px;
  }
}

/* ================= / Tablet ================= */

/* ================= Desktop ================= */
/* =============== / Desktop ================= */

@media screen and (min-width: 1200px) {
  .page-header {
    padding-top: 24px;
    padding-bottom: 24px;
  }
  .link.current::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    left: 0px;
    bottom: -24px;
  }

  .logo-header {
    margin-right: 77px;
  }
  .menu-contacts {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: auto;
    gap: 40px;
  }
  .contact-mail,
  .contact-phone-number {
    font-size: 16px;
    line-height: 1.5;
  }

  .studio-section-features {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .studio-features {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-left: 0;
    row-gap: 24px;
    column-gap: 0;
  }

  .studio-features-svg {
    width: 64px;
    height: 64px;
  }

  .studio-features-svg-bg {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    margin-bottom: 8px;
  }

  .studio-features-item {
    flex-basis: calc((100%-72px) / 4);
  }

  .studio-features-item:not(:last-child) {
    margin-right: 24px;
  }

  .section-subtitle {
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--color-dark);
    margin-top: 0;
  }

  .section-paragraph {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-text);
    margin-top: 8px;
  }
  .our-team-list {
    gap: 24px;
  }

  .our-customers-item {
    max-width: 168px;
    width: 100%;
    height: 88px;
  }

  .our-customers-container {
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .our-customers {
    padding-top: 120px;
    padding-bottom: 120px;
    margin: 0 auto;
  }

  .our-customers-list {
    gap: 24px;
  }

  .footer-container {
    background-color: var(--color-dark);
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 0;
  }

  .footer-position {
    padding-left: 0;
    gap: 0;
  }
  .footer-social-media {
    margin-left: 120px;
    margin-right: 80px;
  }
  /* ==================  What are we doing ================== */
  .doing-list {
    display: flex;
    justify-content: space-between;
    margin-top: 72px;
  }

  .doing-list-section {
    display: block;

    padding-bottom: 120px;
  }

  .section-title {
    margin-top: 0;
  }
  /* ============  /What are we doing ============ */

  /* ==================  Our Team-Desktop ================== */
  .team {
    background-color: var(--color-light);
    padding-top: 120px;
    padding-bottom: 120px;
  }
  /* ==================  Our Team-Desktop ================== */
}
